.vs/Natech_Weather/FileContentIndex/01d07468-267c-4397-acf5-027049fa7f00.vsidx
.vs/
Natech_Weather/Natech_Weather.Android/obj/
*.editorconfig
Natech_Weather/Natech_Weather/obj/
Natech_Weather/Natech_Weather/bin/
Natech_Weather/Natech_Weather.iOS/obj/
Natech_Weather/Natech_Weather.Android/bin/
